:root{
    background-color: #0B0533;
    color: white;
}

h1 {
    color: #DD9313;
}

h2 {
    /* color: #ebaa3b; */
}

h3 {
    /* color: #ebaa3b; */
}

h4 {
    /* color: #ebaa3b; */
}

h5 {
    /* color: #ebaa3b; */
}

h6 {
    /* color: #ebaa3b; */
}

p {
    color: #ebaa3b;
}